.mat-card-image {
  width: 182px;
  height: 268px;
  margin: auto;
  display: block;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 20px;
  padding: 30px;
}

html,
body {
  height: 100%;
}
